<h4>Register</h4>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">    
    <select #department="ngModel" id="department" name="department" [(ngModel)]="service.formData.department" class="form-control">
      <option value="" selected>Select Departmant</option>
      <option *ngFor="let dep of list" value="{{dep.departmentName}}">{{dep.departmentName}} - {{dep.departmentCode}}</option>
    </select>
    <div *ngIf="department.invalid && department.touched" class="validation-error">This field is required.</div>
  </div>
  <div class="form-group">
    <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-control" placeholder="Name" required>
    <div *ngIf="fullName.invalid && fullName.touched" class="validation-error">This field is required.</div>
  </div>
  <div class="form-group">
    <input name="position" #position="ngModel" [(ngModel)]="service.formData.position" class="form-control" placeholder="Role">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input name="empCode" #empCode="ngModel" [(ngModel)]="service.formData.empCode" class="form-control" placeholder="Code">
    </div>
    <div class="form-group  col-md-6">
      <input name="mobile" type="number" #mobile="ngModel" [(ngModel)]="service.formData.mobile" class="form-control" placeholder="Phone Number">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-success">SUBMIT</button>
  </div>

</form>